<a routerLink="/gestion/myevents"><button class="btn btn-warning">retour</button></a>
<div class="register">
  <form [formGroup]="registerForm"  (ngSubmit)="register()">
      <div>
          <input class="input-group-text" type="text" placeholder="Titre" formControlName="name">
      </div>
      <div>
          <textarea class="input-group-text" placeholder="description" formControlName="description"></textarea>
      </div>
      <div>
          <input  class="input-group-text" type="date" placeholder="Date Début" formControlName="startDate">
      </div>
      <div>
          <input class="input-group-text" type="date" placeholder="Date Fin" formControlName="endDate">
      </div>
      <div>
          <input class="input-group-text" type="number" placeholder="Nombre de place maximum" formControlName="maxGuest">

      </div>
      <div>
          <input class="btn btn-warning" type="submit" value="Créer un event">
      </div>
      <div *ngIf="isCreate ==='true'">
        <p>Compte à bien été modifier</p>
      </div>

  </form>
</div>
