<nav >
  <ul>
      <li >
         <a routerLink="/gestion/accueil">Accueil</a>
      </li>
      <li *ngIf="connectedUser">
        <a routerLink="/gestion/myevents">Mes Events</a>
     </li>
     <li  *ngIf="connectedUser">
      <a routerLink="/gestion/myreservations">Mes Réservations</a>
   </li>
   <li>
     <div *ngIf="!connectedUser">
      <a routerLink="/gestion/login"><button  class="btn btn-warning">Se connecter</button></a>
  </div>
  <div *ngIf="connectedUser">

      <button class="btn btn-warning" (click)="disconnect()">Se deconnecter</button>
      <div>Bonjour {{connectedUser.firstname}}</div>
  </div>
   </li>

  </ul>




</nav>
