<a routerLink="/gestion/accueil"><button class="btn btn-warning">retour</button></a>




<div class="card" *ngIf="activity" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{activity.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{activity.description}}</h6>
    <p class="card-text">max : {{activity.maxGuest}}</p>
    <p class="card-text">Date de début : {{activity.startDate | date}}</p>
    <p class="card-text">Date de fin : {{activity.endDate  | date}}</p>
  </div>
</div>
