<div class="login">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div>
          <input class="input-group-text" type="text" placeholder="Login ou Email"  formControlName="identifier">
      </div>
      <div>
          <input class="input-group-text" type="password" placeholder="Mot de passe"  formControlName="password">
      </div>
      <div>
          <input class="btn btn-warning" type="submit" value="Se connecter">
      </div>
      <div>

        <a routerLink="/gestion/register">Pas de compte ? Cliquez ici pour en créer un </a>
      </div>
  </form>
</div>
